<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">
  <h1>About</h1>
  <p>
    This website was made by Weiglas Ribeiro following the course of ZappyCode
    about Django3 on <a href="https://www.udemy.com/">Udemy</a>.
    It uses the Django3 web framework, based on python and generates a random
    passoword with the requirements selected by the user.
  </p>
  <a href="{% url 'home' %}">Home</a>
</div>
